@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format(".woff2");
font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(".woff2");
  font-display: swap;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  html {
    height: 100%;
  }
  body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color:#000000;
    background-color:#ffffff;
    line-height: 24px;
    margin: 0;
    padding: 0 40px;
    display:flex;
    flex-direction: column;
    min-height: 100%;
  }

  .main-container {
    flex-grow: 1;
  }

        .button {
          font-family: inherit;
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          background-color: #82b3d3;
          border: none;
          text-decoration: none;
          text-transform: uppercase;
      }


  .page-header  {
   font-weight: 700;
   font-size: 20px;
   width: 1200px;
     }
/*
  .header-logo-count {
    background-color:  #7db54f;
    color: #ffffff;
    border-radius:50%;
  } */

  .navigation {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
  }

  .header-logo {
    padding-left:70px;
  }
  .navigation-list {
    width: 507px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    list-style: none;
    margin-left:30px;
    padding: 0;
    }

 .navigation-link {
  text-decoration: none;
  font-family: inherit;
  color:#000000;
  text-align:center;
 }

 .navigation-user {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin-right: 70px;
  gap: 20px;
  width: 268px;
 }

  .navigation-button {
 background-color: #756157;
  }

 .main-index {
  width:1200px;
 }

.hero {
  height: 485px;
width: 1200px;
left: 0;
top: 0;
border-radius: 0;
}

 .hero img {
    position:absolute;
   }

 .hero-text img {
  height: 352px;
  width: 458px;
  position:relative;
  margin: 51px 371px;
 }

 .lead-container {
 width: 1200px;
height: 261px;
padding-top: 69px;
 }

 .advantages-lead {
  width: 620px;
  height:72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align:center;
  padding-left: 290px;
  padding-right: 290px;
  margin-bottom: 25px;
  }

   .advantages-reasons {
    font-size: 22px;
    line-height: 26px;
    text-align:center;
    width: 651px;
    height: 26px;
    margin-top: 25px;
    margin-left: 274.5px;
    margin-bottom: 69px;
   }

   .advantages {
    padding: 0;
   width: 1200px;
   height: 1155px;
   display: inline;
   order: 1;
    }

   .advantages-list {
    list-style:none;
    display: flex;
    flex-direction: column;
    width:1200px;
    height:1155px;
    padding: 0;
   }

   .advantages-item-picture {
    height: 385px;
    width: 800px;
     display:flex;
    flex-direction:row;
    align-items: center;
  }

   .advantages-item {
    background-color: #82b3d3;
    color: #ffffff;
    height: 385px;
    width: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    margin: 0 auto;
    }

   .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align:center;
    display:flex;

  }

  .advantages-description {
    text-align:center;
    line-height:21px;
      }


   .advantages-item-picture {
    background-color: #82b3d3;
    color: #ffffff;
    text-align:center;
    width:1200px;
   }

   .advantages-item-square,
   .advantages-item-tourist {
    background-color: #83b3d31f;
    color: #000000;
   }

   .advantages-item-road {
    background-color: #83b3d333;
    color: #000000;
  }

  .advantages-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0;
    width: 1200px;

  }

  .infrastructure-container {
  max-width: 1200px;
  max-height: 246px;
  margin-top: 64px;
  margin-bottom: 64px;
  gap: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  order: 2;
  }

.infrastructure {
  width: 1200px;
}

.infrastructure-lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align:center;
  margin: 0 auto;
   padding: 0;
   }

 .infrastructure-lead-description {
  font-size: 22px;
  line-height: 26px;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 64px;
   }

 .infrastructure-list {
  width: 1200px;
  height: 385px;
  list-style:none;
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding: 0;
  margin: 0;
  order: 3;
 }

 .infrastructure-item {
  background-color: #83b3d31f;
  color: #000000;

  max-width: 400px;

  max-height: 385px;
  text-align:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 81px 85px;
  margin-bottom:0;
  }

 .infrastructure-item-food {
  max-width: 400px;

  max-height: 385px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;

  padding: 81px 85px;
  margin-bottom:0;

 }

 .infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
 }

 .infrastructure-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
 }

 .hotel-search {
  max-width: 1200px;
  margin: 0;
  order: 4;
  display:flex;
  flex-direction: column;
  max-height: 406px;
  padding: 96px 304px;


 }

 .hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

 }

 .hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
 }

 .hotel-search-link {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
 }

 .subscribe {
  color:#ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-color:#000000;
  max-width: 1200px;
  max-height: 414.86px;
  padding: 96px 258px 104px 258px;
  background-repeat: no-repeat;
  order: 5;
 }



 .subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
 }

 .subscribe-description {
 font-size: 22px;
 line-height: 26px;
 text-align: center;
 }

 .subscribe-button {
   font-size: 20px;
   line-height: 36px;
 }

 .subscribe-form {
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
 }

.page-footer {
  width:1200px;
  height:120px;
  display:flex;
  flex-direction: row;
 list-style: none;
}

.footer-social-link {
text-decoration: none;
color:#000000;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 142px;
  height: 40px;
  list-style: none;
  padding: 0;
  align-items: center;

}
.footer-container {
  min-width: 1060px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
  gap: 40px;



}
 .footer-contacts-telephone{
  font-size: 40px;
  line-height: 40px;
  text-align:center;
  color:#000000;
  width: 720px;
  padding: 0;
  text-decoration: none;
 }

 .main-catalog {
  width: 1200px;
 }
 .hotel-filter {
 width: 1200px;
 height: 412px;
 background-image:url("../images/catalog-background.jpg");
 background-repeat:no-repeat;
  color:#ffffff;
  background-color:#000000;
  background-size: 100% auto;
  position:relative;
 }

 .filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  height: 78px;
  width: 494.4px;
  display: block;
   }

 .breacrumbs {
  font-size: 16px;
  line-height: 21px;
  }

  .hotel-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
    margin-left: 70px;
    padding: 0;
  }

 .breadcrumbs-link-home {
  background-image: url("../images/icon-home.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  position:relative;
  display:inline-block;
 }

 .breadcrumbs-link {
  color:#ffffff;
  text-decoration:none;

 }

 .breadcrumbs-item {
  width: 114px;
  height: 21px;
  list-style:none;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
 }

 .hotel-filter-box {
  border:none;
 }


 .hotel-filter-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 160px;
  width: 1060px;
 }

 .hotel-filter-header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
 }

 .hotel-filter-list {
  font-size: 18px;
  line-height: 23px;
  list-style:none;
 }

 .min-price,
 .max-price {
  width: 17px;
 height: 24px;
 opacity: 0.3;
 }

.price-apply-button {
  font-size: 16px;
  line-height:20;
  text-align:center;
  width: 191px;
  height: 36px;
}

.price-reset-button {
  background-color: transparent;
  font-size: 16px;
  line-height:20;
  text-align:center;
  width: 191px;
  height: 36px;
}

.apply-reset-button {
 height: 104px;
 width: 191px;
 gap: 10px;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;

}


.hotel-find {
  font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color:#000000;
}

.hotel-find-container {
  display:flex;
justify-content: space-between;
width: 1060px;
}

.hotel-options {
  font-size: 18px;
line-height: 21px;
color: #333333;
width: 292px;
height: 49px;
border: 2px solid #e5e5e5;
border-radius: 4px;
}

.button-net {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
border-radius: 4px;
}
.button-separate{
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
border-radius: 4px;
}
.button-list{
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
border-radius: 4px;
}

.hotel-cards {
  list-style:none;
  display:flex;
  flex-direction: column;

}

.hotel-card-item {
  width: 340px;
height: 438px;
border: 1px solid #e6e6e6;
border-radius: 4px;
padding: 20px;
}

.hotel-card-title{
  font-weight: 700;
font-size: 24px;
line-height: 28px;
color:#000000;
}


.hotel-card-description {
  font-size: 18px;
line-height: 21px;
color: #333333;
}

.button-about {
background-color: #756157;
font-size: 16px;
line-height: 20px;
}

.button-favorite {
  font-size: 16px;
  line-height: 20px;
}

.button-favorited {
  font-size: 16px;
  line-height: 20px;
  background-color: #7db54f;
}

.hotel-card-stars {
  background-image: url("../images/star-1.svg");
background-repeat:no-repeat;
width:18px;
height: 17px;

}

.hotel-card-rating {
width: 140px;
height: 37px;
background: #f2f2f2;
border-radius: 4px;
font-size: 16px;
line-height: 20px;
text-align: center;
}

.pagination-catalog {
width: 1060px;
height: 60px;
display:flex;
flex-direction: row;
align-items: center;
padding: 0;
list-style:none;
justify-content: flex-start;
gap: 8px;

}


.pagination-item {
width: 60px;
height: 60px;
background: #82b3d3;
border-radius: 4px;
text-align:center;
}

.pagination-link {
  color:#ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight:700;
  text-decoration: none;
}

.pagination-current {
  width: 60px;
height: 60px;
color: #000000;
background-color:#f2f2f2;
border-radius: 4px;
text-align:center;
}

.subscribe-catalog {
  width: 1200px;
  height: 414.86px;
  text-align:center;
  color:#000000;
  background-color: #ffffff;
  }
